PHASE2/comboChecker.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="package">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="combos" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="comboID"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:byte" name="mainCode"/>
              <xs:element type="xs:byte" name="sideCode"/>
              <xs:element type="xs:byte" name="drinkCode"/>
              <xs:element type="xs:short" name="comboPrice"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>