PHASE2/foodChecker.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="product">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="food" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="foodCode"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="category"/>
              <xs:element type="xs:short" name="price"/>
              <xs:element type="xs:byte" name="imageID"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>